<a href="https://colab.research.google.com/github/ccwu0918/book-sqlfifty/blob/main/ch13-more-exercises/ch13-more-exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL 的五十道練習：初學者友善的資料庫入門

> 綜合練習題

讀者如果是資料科學的初學者，可以略過下述的程式碼；讀者如果不是資料科學的初學者，欲使用 JupyterLab 執行本章節內容，必須先執行下述程式碼載入所需模組與連接資料庫。

In [ ]:
!pip install SQLAlchemy==1.4.46

In [ ]:
!git clone https://github.com/datainpoint/book-sqlfifty

In [ ]:
# %LOAD sqlite3 db=../databases/imdb.db timeout=2 shared_cache=true

In [ ]:
%cd databases
!wget -N https://raw.githubusercontent.com/jpwhite3/northwind-SQLite3/master/dist/northwind.db
!wget -N https://github.com/lerocha/chinook-database/raw/master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
%cd ..

In [ ]:
import sqlite3
import unittest
import json
import os
import numpy as np
import pandas as pd
conn = sqlite3.connect('./databases/imdb.db')
conn.execute("""ATTACH './databases/covid19.db' AS covid19""")
conn.execute("""ATTACH './databases/twElection2020.db' AS twElection2020""")
conn.execute("""ATTACH './databases/nba.db' AS nba""")
conn.execute("""ATTACH './databases/northwind.db' AS Northwind""")
conn.execute("""ATTACH './databases/Chinook_Sqlite.sqlite' AS Chinook""")

In [ ]:
# %%capture
# load the SQL magic extension
# https://github.com/catherinedevlin/ipython-sql
# this extension allows us to connect to DBs and issue SQL command
%load_ext sql

# now we can use the magic extension to connect to our SQLite DB
# use %sql to write an inline SQL command
# use %%sql to write SQL commands in a cell
%sql sqlite:///databases/imdb.db

In [ ]:
%%sql
ATTACH "./databases/covid19.db" AS covid19;
ATTACH "./databases/twElection2020.db" AS twElection2020;
ATTACH "./databases/nba.db" AS nba;
ATTACH "./databases/northwind.db" AS Northwind;
ATTACH "./databases/Chinook_Sqlite.sqlite" AS Chinook;

In [ ]:
%%sql
SELECT sqlite_version();

## 練習題 46-59

練習題會涵蓋四個學習資料庫，記得要依據題目的需求，調整編輯器選單的學習資料庫，在自己電腦的 SQLiteStudio 寫出跟預期輸出相同的 SQL 敘述，寫作過程如果卡關了，可以參考附錄二「練習題參考解答」。

### 46. 從 `covid19` 資料庫查詢兩艘郵輪（Grand Princess 與 Diamond Princess）的資訊，參考下列的預期查詢結果。

預期輸出：(4, 4) 的查詢結果。

In [ ]:
%%sql

+------+----------------+------------------+-----------+
| iso2 | Country_Region | Province_State   | Confirmed |
+------+----------------+------------------+-----------+
| CA   | Canada         | Diamond Princess | 0         |
+------+----------------+------------------+-----------+
| CA   | Canada         | Grand Princess   | 13        |
+------+----------------+------------------+-----------+
| US   | US             | Diamond Princess | 49        |
+------+----------------+------------------+-----------+
| US   | US             | Grand Princess   | 103       |
+------+----------------+------------------+-----------+
4 rows in set (0.01 sec)

### 47. 從 `covid19` 資料庫查詢截至 2022-05-31 所有國家確診與死亡人數的資訊，參考下列的預期查詢結果。

註：本題不需考慮 `daily_report` 內的 `Last_Update` 時間戳記，`daily_report` 的數據有效期間就是 2022-05-31。

預期輸出：(199, 3) 的查詢結果。

In [ ]:
-- 礙於紙本篇幅僅顯示出前五列示意
%%sql

+----------------+-----------+--------+
| Country_Region | Confirmed | Deaths |
+----------------+-----------+--------+
| Afghanistan    | 180347    | 7705   |
+----------------+-----------+--------+
| Albania        | 276101    | 3497   |
+----------------+-----------+--------+
| Algeria        | 265884    | 6875   |
+----------------+-----------+--------+
| Andorra        | 42894     | 153    |
+----------------+-----------+--------+
| Angola         | 99761     | 1900   |
+----------------+-----------+--------+
5 rows in set (0.01 sec)

### 48. 從 `imdb` 資料庫查詢「魔戒三部曲」與「蝙蝠俠三部曲」的電影資訊與演員名單，三部曲電影系列中演員重複出演的情況是正常的，這時顯示獨一值即可，參考下列的預期查詢結果。

預期輸出：(67, 2) 的查詢結果。

In [ ]:
%%sql

+-------------------------------+-------------------------+
| trilogy                       | name                    |
+-------------------------------+-------------------------+
| Batman Trilogy                | Aaron Eckhart           |
+-------------------------------+-------------------------+
| Batman Trilogy                | Aidan Gillen            |
+-------------------------------+-------------------------+
| Batman Trilogy                | Alon Aboutboul          |
+-------------------------------+-------------------------+
| Batman Trilogy                | Anne Hathaway           |
+-------------------------------+-------------------------+
| Batman Trilogy                | Anthony Michael Hall    |
+-------------------------------+-------------------------+
| Batman Trilogy                | Ben Mendelsohn          |
+-------------------------------+-------------------------+
| Batman Trilogy                | Burn Gorman             |
+-------------------------------+-------------------------+
| Batman Trilogy                | Chin Han                |
+-------------------------------+-------------------------+
| Batman Trilogy                | Christian Bale          |
+-------------------------------+-------------------------+
| Batman Trilogy                | Cillian Murphy          |
+-------------------------------+-------------------------+
| Batman Trilogy                | Colin McFarlane         |
+-------------------------------+-------------------------+
| Batman Trilogy                | Daniel Sunjata          |
+-------------------------------+-------------------------+
| Batman Trilogy                | Eric Roberts            |
+-------------------------------+-------------------------+
| Batman Trilogy                | Gary Oldman             |
+-------------------------------+-------------------------+
| Batman Trilogy                | Gerard Murphy           |
+-------------------------------+-------------------------+
| Batman Trilogy                | Heath Ledger            |
+-------------------------------+-------------------------+
| Batman Trilogy                | Joseph Gordon-Levitt    |
+-------------------------------+-------------------------+
| Batman Trilogy                | Katie Holmes            |
+-------------------------------+-------------------------+
| Batman Trilogy                | Ken Watanabe            |
+-------------------------------+-------------------------+
| Batman Trilogy                | Larry Holden            |
+-------------------------------+-------------------------+
| Batman Trilogy                | Liam Neeson             |
+-------------------------------+-------------------------+
| Batman Trilogy                | Linus Roache            |
+-------------------------------+-------------------------+
| Batman Trilogy                | Maggie Gyllenhaal       |
+-------------------------------+-------------------------+
| Batman Trilogy                | Marion Cotillard        |
+-------------------------------+-------------------------+
| Batman Trilogy                | Mark Boone Junior       |
+-------------------------------+-------------------------+
| Batman Trilogy                | Matthew Modine          |
+-------------------------------+-------------------------+
| Batman Trilogy                | Michael Caine           |
+-------------------------------+-------------------------+
| Batman Trilogy                | Monique Gabriela Curnen |
+-------------------------------+-------------------------+
| Batman Trilogy                | Morgan Freeman          |
+-------------------------------+-------------------------+
| Batman Trilogy                | Nestor Carbonell        |
+-------------------------------+-------------------------+
| Batman Trilogy                | Ritchie Coster          |
+-------------------------------+-------------------------+
| Batman Trilogy                | Ron Dean                |
+-------------------------------+-------------------------+
| Batman Trilogy                | Rutger Hauer            |
+-------------------------------+-------------------------+
| Batman Trilogy                | Sam Kennard             |
+-------------------------------+-------------------------+
| Batman Trilogy                | Tom Hardy               |
+-------------------------------+-------------------------+
| Batman Trilogy                | Tom Wilkinson           |
+-------------------------------+-------------------------+
| The Lord of the Rings Trilogy | Alan Howard             |
+-------------------------------+-------------------------+
| The Lord of the Rings Trilogy | Ali Astin               |
+-------------------------------+-------------------------+
| The Lord of the Rings Trilogy | Alistair Browning       |
+-------------------------------+-------------------------+
| The Lord of the Rings Trilogy | Andy Serkis             |
+-------------------------------+-------------------------+
| The Lord of the Rings Trilogy | Bernard Hill            |
+-------------------------------+-------------------------+
| The Lord of the Rings Trilogy | Billy Boyd              |
+-------------------------------+-------------------------+
| The Lord of the Rings Trilogy | Brad Dourif             |
+-------------------------------+-------------------------+
| The Lord of the Rings Trilogy | Bruce Allpress          |
+-------------------------------+-------------------------+
| The Lord of the Rings Trilogy | Bruce Hopkins           |
+-------------------------------+-------------------------+
| The Lord of the Rings Trilogy | Calum Gittins           |
+-------------------------------+-------------------------+
| The Lord of the Rings Trilogy | Cate Blanchett          |
+-------------------------------+-------------------------+
| The Lord of the Rings Trilogy | Christopher Lee         |
+-------------------------------+-------------------------+
| The Lord of the Rings Trilogy | David Aston             |
+-------------------------------+-------------------------+
| The Lord of the Rings Trilogy | Ian Holm                |
+-------------------------------+-------------------------+
| The Lord of the Rings Trilogy | Jason Fitch             |
+-------------------------------+-------------------------+
| The Lord of the Rings Trilogy | Jed Brophy              |
+-------------------------------+-------------------------+
| The Lord of the Rings Trilogy | John Bach               |
+-------------------------------+-------------------------+
| The Lord of the Rings Trilogy | Mark Ferguson           |
+-------------------------------+-------------------------+
| The Lord of the Rings Trilogy | Marton Csokas           |
+-------------------------------+-------------------------+
| The Lord of the Rings Trilogy | Megan Edwards           |
+-------------------------------+-------------------------+
| The Lord of the Rings Trilogy | Michael Elsworth        |
+-------------------------------+-------------------------+
| The Lord of the Rings Trilogy | Noel Appleby            |
+-------------------------------+-------------------------+
| The Lord of the Rings Trilogy | Orlando Bloom           |
+-------------------------------+-------------------------+
| The Lord of the Rings Trilogy | Paris Howe Strewe       |
+-------------------------------+-------------------------+
| The Lord of the Rings Trilogy | Richard Edge            |
+-------------------------------+-------------------------+
| The Lord of the Rings Trilogy | Sadwyn Brophy           |
+-------------------------------+-------------------------+
| The Lord of the Rings Trilogy | Sala Baker              |
+-------------------------------+-------------------------+
| The Lord of the Rings Trilogy | Sam Comery              |
+-------------------------------+-------------------------+
| The Lord of the Rings Trilogy | Sean Astin              |
+-------------------------------+-------------------------+
| The Lord of the Rings Trilogy | Sean Bean               |
+-------------------------------+-------------------------+
| The Lord of the Rings Trilogy | Viggo Mortensen         |
+-------------------------------+-------------------------+
67 rows in set (0.01 sec)

### 49. 從 `nba` 資料庫查詢得分王（生涯場均得分 `ppg` 最高）、助攻王（生涯場均助攻 `apg` 最高）、籃板王（生涯場均籃板 `rpg` 最高）、抄截王（生涯場均抄截 `spg` 最高）以及阻攻王（生涯場均阻攻 `bpg` 最高），參考下列的預期查詢結果。

預期輸出：(6, 4) 的查詢結果。

In [ ]:
%%sql

+-----------+----------+----------+-------+
| firstName | lastName | category | value |
+-----------+----------+----------+-------+
| Andre     | Drummond | rpg      | 13.3  |
+-----------+----------+----------+-------+
| Anthony   | Davis    | bpg      | 2.3   |
+-----------+----------+----------+-------+
| Chris     | Paul     | apg      | 9.5   |
+-----------+----------+----------+-------+
| Chris     | Paul     | spg      | 2.1   |
+-----------+----------+----------+-------+
| Kevin     | Durant   | ppg      | 27.2  |
+-----------+----------+----------+-------+
| Myles     | Turner   | bpg      | 2.3   |
+-----------+----------+----------+-------+
6 rows in set (0.00 sec)

### 50. 從 `twElection2020` 資料庫查詢三組總統候選人在各縣市的得票數，參考下列的預期查詢結果。

預期輸出：(22, 4) 的查詢結果。

In [ ]:
%%sql

+-----------+----------------+-----------------+----------------+
| county    | soong_yu_votes | han_chang_votes | tsai_lai_votes |
+-----------+----------------+-----------------+----------------+
| 南投縣 | 13315          | 133791          | 152046         |
+-----------+----------------+-----------------+----------------+
| 嘉義市 | 6204           | 56269           | 99265          |
+-----------+----------------+-----------------+----------------+
| 嘉義縣 | 11138          | 98810           | 197342         |
+-----------+----------------+-----------------+----------------+
| 基隆市 | 11878          | 99360           | 114966         |
+-----------+----------------+-----------------+----------------+
| 宜蘭縣 | 10739          | 90010           | 173657         |
+-----------+----------------+-----------------+----------------+
| 屏東縣 | 14021          | 179353          | 317676         |
+-----------+----------------+-----------------+----------------+
| 彰化縣 | 35060          | 291835          | 436336         |
+-----------+----------------+-----------------+----------------+
| 新北市 | 112620         | 959631          | 1393936        |
+-----------+----------------+-----------------+----------------+
| 新竹市 | 14103          | 102725          | 144274         |
+-----------+----------------+-----------------+----------------+
| 新竹縣 | 18435          | 154224          | 152380         |
+-----------+----------------+-----------------+----------------+
| 桃園市 | 63132          | 529749          | 718260         |
+-----------+----------------+-----------------+----------------+
| 澎湖縣 | 2583           | 20911           | 27410          |
+-----------+----------------+-----------------+----------------+
| 臺中市 | 84800          | 646366          | 967304         |
+-----------+----------------+-----------------+----------------+
| 臺北市 | 70769          | 685830          | 875854         |
+-----------+----------------+-----------------+----------------+
| 臺南市 | 41075          | 339702          | 786471         |
+-----------+----------------+-----------------+----------------+
| 臺東縣 | 4163           | 67413           | 44092          |
+-----------+----------------+-----------------+----------------+
| 花蓮縣 | 6869           | 111834          | 66509          |
+-----------+----------------+-----------------+----------------+
| 苗栗縣 | 15222          | 164345          | 147034         |
+-----------+----------------+-----------------+----------------+
| 連江縣 | 188            | 4776            | 1226           |
+-----------+----------------+-----------------+----------------+
| 金門縣 | 1636           | 35948           | 10456          |
+-----------+----------------+-----------------+----------------+
| 雲林縣 | 15331          | 138341          | 246116         |
+-----------+----------------+-----------------+----------------+
| 高雄市 | 55309          | 610896          | 1097621        |
+-----------+----------------+-----------------+----------------+
22 rows in set (0.08 sec)

### 51. 從 `covid19` 資料庫查詢截至 2022-05-31 美國前十大確診人數的州別，參考下列的預期查詢結果。

註：本題不需考慮 `daily_report` 內的 `Last_Update` 時間戳記，`daily_report` 的數據有效期間就是 2022-05-31。

預期輸出：(10, 2) 的查詢結果。

In [ ]:
%%sql

+----------------+-----------+
| Province_State | Confirmed |
+----------------+-----------+
| California     | 9620783   |
+----------------+-----------+
| Texas          | 6946230   |
+----------------+-----------+
| Florida        | 6159702   |
+----------------+-----------+
| New York       | 5437811   |
+----------------+-----------+
| Illinois       | 3302423   |
+----------------+-----------+
| Pennsylvania   | 2907324   |
+----------------+-----------+
| Ohio           | 2763123   |
+----------------+-----------+
| North Carolina | 2744935   |
+----------------+-----------+
| Georgia        | 2556044   |
+----------------+-----------+
| Michigan       | 2527831   |
+----------------+-----------+
10 rows in set (0.01 sec)

### 52. 從 `covid19` 資料庫查詢截至 2022-05-31 台灣、日本、中國、南韓與新加坡五個國家的確診與死亡人數的資訊，參考下列的預期查詢結果。

註：本題不需考慮 `daily_report` 內的 `Last_Update` 時間戳記，`daily_report` 的數據有效期間就是 2022-05-31。

預期輸出：(5, 3) 的查詢結果。

In [ ]:
%%sql

+----------------+-----------+--------+
| Country_Region | Confirmed | Deaths |
+----------------+-----------+--------+
| China          | 2096684   | 14604  |
+----------------+-----------+--------+
| Japan          | 8838747   | 30619  |
+----------------+-----------+--------+
| Korea, South   | 18119415  | 24197  |
+----------------+-----------+--------+
| Singapore      | 1303294   | 1389   |
+----------------+-----------+--------+
| Taiwan         | 2032983   | 2255   |
+----------------+-----------+--------+
5 rows in set (0.00 sec)

### 53. 從 `imdb` 資料庫查詢出現最多次的導演為誰，參考下列的預期查詢結果。

預期輸出：(5, 2) 的查詢結果。

In [ ]:
%%sql

+-------------------+--------+
| director          | counts |
+-------------------+--------+
| Akira Kurosawa    | 7      |
+-------------------+--------+
| Christopher Nolan | 7      |
+-------------------+--------+
| Martin Scorsese   | 7      |
+-------------------+--------+
| Stanley Kubrick   | 7      |
+-------------------+--------+
| Steven Spielberg  | 7      |
+-------------------+--------+
5 rows in set (0.00 sec)

### 54. 從 `imdb` 資料庫查詢出現最多次的演員為誰，參考下列的預期查詢結果。

預期輸出：(1, 3) 的查詢結果。

In [ ]:
%%sql

+----------+----------------+--------+
| actor_id | name           | counts |
+----------+----------------+--------+
| 2552     | Robert De Niro | 9      |
+----------+----------------+--------+
1 row in set (0.01 sec)

### 55. 從 `imdb` 資料庫查詢評等大於等於 8.8（`rating >= 8.8`）電影的導演以及第一主角（`ord = 1`），參考下列的預期查詢結果。

預期輸出：(14, 3) 的查詢結果。

In [ ]:
%%sql

+---------------------------------------------------+----------------------+-------------------+
| title                                             | director             | lead_actor        |
+---------------------------------------------------+----------------------+-------------------+
| The Shawshank Redemption                          | Frank Darabont       | Tim Robbins       |
+---------------------------------------------------+----------------------+-------------------+
| The Godfather                                     | Francis Ford Coppola | Marlon Brando     |
+---------------------------------------------------+----------------------+-------------------+
| The Dark Knight                                   | Christopher Nolan    | Christian Bale    |
+---------------------------------------------------+----------------------+-------------------+
| The Godfather Part II                             | Francis Ford Coppola | Al Pacino         |
+---------------------------------------------------+----------------------+-------------------+
| 12 Angry Men                                      | Sidney Lumet         | Martin Balsam     |
+---------------------------------------------------+----------------------+-------------------+
| Schindler's List                                  | Steven Spielberg     | Liam Neeson       |
+---------------------------------------------------+----------------------+-------------------+
| The Lord of the Rings: The Return of the King     | Peter Jackson        | Noel Appleby      |
+---------------------------------------------------+----------------------+-------------------+
| Pulp Fiction                                      | Quentin Tarantino    | Tim Roth          |
+---------------------------------------------------+----------------------+-------------------+
| The Lord of the Rings: The Fellowship of the Ring | Peter Jackson        | Alan Howard       |
+---------------------------------------------------+----------------------+-------------------+
| The Good, the Bad and the Ugly                    | Sergio Leone         | Eli Wallach       |
+---------------------------------------------------+----------------------+-------------------+
| Forrest Gump                                      | Robert Zemeckis      | Tom Hanks         |
+---------------------------------------------------+----------------------+-------------------+
| Fight Club                                        | David Fincher        | Edward Norton     |
+---------------------------------------------------+----------------------+-------------------+
| Inception                                         | Christopher Nolan    | Leonardo DiCaprio |
+---------------------------------------------------+----------------------+-------------------+
| The Lord of the Rings: The Two Towers             | Peter Jackson        | Bruce Allpress    |
+---------------------------------------------------+----------------------+-------------------+
14 rows in set (0.00 sec)

### 56. 從 `nba` 資料庫查詢得分王（生涯總得分 `points` 最高）、助攻王（生涯總助攻 `assists` 最高）、籃板王（生涯總籃板 `totReb` 最高）、抄截王（生涯總抄截 `steals` 最高）以及阻攻王（生涯總阻攻 `blocks` 最高），參考下列的預期查詢結果。

預期輸出：(5, 4) 的查詢結果。

In [ ]:
%%sql

+-----------+----------+----------+-------+
| firstName | lastName | category | value |
+-----------+----------+----------+-------+
| Chris     | Paul     | assists  | 10977 |
+-----------+----------+----------+-------+
| Chris     | Paul     | steals   | 2453  |
+-----------+----------+----------+-------+
| Dwight    | Howard   | blocks   | 2228  |
+-----------+----------+----------+-------+
| Dwight    | Howard   | totReb   | 14627 |
+-----------+----------+----------+-------+
| LeBron    | James    | points   | 37062 |
+-----------+----------+----------+-------+
5 rows in set (0.00 sec)

### 57. 從 `nba` 資料庫查詢各球隊陣中場均得分大於等於 20 分（`ppg >= 20`）的球員人數，參考下列的預期查詢結果。

預期輸出：(30, 2) 的查詢結果。

In [ ]:
%%sql

+------------------------+-------------------+
| team_name              | number_of_players |
+------------------------+-------------------+
| Los Angeles Lakers     | 4                 |
+------------------------+-------------------+
| Brooklyn Nets          | 2                 |
+------------------------+-------------------+
| Minnesota Timberwolves | 2                 |
+------------------------+-------------------+
| Philadelphia 76ers     | 2                 |
+------------------------+-------------------+
| Atlanta Hawks          | 1                 |
+------------------------+-------------------+
| Boston Celtics         | 1                 |
+------------------------+-------------------+
| Chicago Bulls          | 1                 |
+------------------------+-------------------+
| Cleveland Cavaliers    | 1                 |
+------------------------+-------------------+
| Dallas Mavericks       | 1                 |
+------------------------+-------------------+
| Golden State Warriors  | 1                 |
+------------------------+-------------------+
| LA Clippers            | 1                 |
+------------------------+-------------------+
| Memphis Grizzlies      | 1                 |
+------------------------+-------------------+
| Milwaukee Bucks        | 1                 |
+------------------------+-------------------+
| New Orleans Pelicans   | 1                 |
+------------------------+-------------------+
| Phoenix Suns           | 1                 |
+------------------------+-------------------+
| Portland Trail Blazers | 1                 |
+------------------------+-------------------+
| Utah Jazz              | 1                 |
+------------------------+-------------------+
| Washington Wizards     | 1                 |
+------------------------+-------------------+
| Charlotte Hornets      | 0                 |
+------------------------+-------------------+
| Denver Nuggets         | 0                 |
+------------------------+-------------------+
| Detroit Pistons        | 0                 |
+------------------------+-------------------+
| Houston Rockets        | 0                 |
+------------------------+-------------------+
| Indiana Pacers         | 0                 |
+------------------------+-------------------+
| Miami Heat             | 0                 |
+------------------------+-------------------+
| New York Knicks        | 0                 |
+------------------------+-------------------+
| Oklahoma City Thunder  | 0                 |
+------------------------+-------------------+
| Orlando Magic          | 0                 |
+------------------------+-------------------+
| Sacramento Kings       | 0                 |
+------------------------+-------------------+
| San Antonio Spurs      | 0                 |
+------------------------+-------------------+
| Toronto Raptors        | 0                 |
+------------------------+-------------------+
30 rows in set (0.00 sec)

### 58. 從 `twElection2020` 資料庫查詢中國國民黨與民主進步黨在 2020 年選舉的得票率，包含總統副總統、不分區立委與區域立委，參考下列的預期查詢結果。

註：不分區立委的投票資料記錄於資料表 `legislative_at_large`，區域立委的投票資料記錄於資料表 `legislative_regional`。

預期輸出：(2, 4) 的查詢結果。

In [ ]:
%%sql

+-----------------+--------------+----------------------+----------------------+
| party           | presidential | legislative_regional | legislative_at_large |
+-----------------+--------------+----------------------+----------------------+
| 中國國民黨 | 38.61%       | 40.71%               | 33.36%               |
+-----------------+--------------+----------------------+----------------------+
| 民主進步黨 | 57.13%       | 45.11%               | 33.98%               |
+-----------------+--------------+----------------------+----------------------+
2 rows in set (0.94 sec)

### 59. 從 `twElection2020` 資料庫查詢代表中國國民黨參選總統副總統的韓國瑜/張善政組合，在台灣 7,737 個選舉區（以村鄰里為一個選舉區）贏得的選舉區（得票數大於 `>` 蔡英文/賴清德組合）以及淨贏得票數，參考下列的預期查詢結果。

預期輸出：(1332, 4) 的查詢結果。

In [ ]:
-- 礙於紙本篇幅僅顯示出前五列示意
%%sql

+-----------+-----------+-----------+-------------------+
| county    | town      | village   | net_winning_votes |
+-----------+-----------+-----------+-------------------+
| 金門縣 | 金城鎮 | 西門里 | 2190              |
+-----------+-----------+-----------+-------------------+
| 高雄市 | 左營區 | 海勝里 | 2096              |
+-----------+-----------+-----------+-------------------+
| 臺北市 | 松山區 | 自強里 | 1802              |
+-----------+-----------+-----------+-------------------+
| 桃園市 | 中壢區 | 自立里 | 1763              |
+-----------+-----------+-----------+-------------------+
| 桃園市 | 龜山區 | 陸光里 | 1560              |
+-----------+-----------+-----------+-------------------+
5 rows in set (0.12 sec)