<a href="https://colab.research.google.com/github/ccwu0918/book-sqlfifty/blob/main/appx02-suggested-answers/appx02-suggested-answers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL 的五十道練習：初學者友善的資料庫入門

> 附錄二：練習題參考解答

讀者在寫作各個章節的練習題若是遇到卡關、瓶頸，可以參考本附錄；假如讀者除了參考解答還希望可以有手把手（Step-by-step）的解題過程，可以考慮加入我在 2021 年於 Hahow 好學校所開設的同名線上課程「SQL 的五十道練習：初學者友善的資料庫入門」<https://hahow.in/cr/sqlfifty>，課程收錄有五十九道練習題的解題過程，搭配口白說明與字幕，線上課程的動態特性能與書籍的靜態特性相輔相成，讓學習效益最佳化。

In [ ]:
!pip install SQLAlchemy==1.4.46

In [1]:
!git clone https://github.com/datainpoint/book-sqlfifty

Cloning into 'book-sqlfifty'...
remote: Enumerating objects: 186, done.
remote: Counting objects: 100% (186/186), done.
remote: Compressing objects: 100% (122/122), done.
remote: Total 186 (delta 54), reused 173 (delta 44), pack-reused 0
Receiving objects: 100% (186/186), 28.90 MiB | 25.96 MiB/s, done.
Resolving deltas: 100% (54/54), done.

In [2]:
%cd book-sqlfifty

/content/book-sqlfifty

In [4]:
%%capture
%load_ext sql

In [6]:
%sql sqlite:///databases/imdb.db
# %LOAD sqlite3 db=../databases/imdb.db timeout=2 shared_cache=true

'Connected: @databases/imdb.db'

In [7]:
%%sql
ATTACH "./databases/nba.db" AS nba;
ATTACH "./databases/twElection2020.db" AS twElection2020;
ATTACH "./databases/covid19.db" AS covid19;

 * sqlite:///databases/imdb.db
Done.
Done.
Done.

[]

## 練習題 01-05

### 01. 從 `twElection2020` 資料庫的 `admin_regions` 資料表選擇所有變數，並且使用 `LIMIT 5` 顯示前五列資料，參考下列的預期查詢結果。

預期輸出：(5, 4) 的查詢結果。

```sql
SELECT *
  FROM admin_regions
 LIMIT 5;
```

### 02. 從 `nba` 資料庫的球隊資料表 `teams` 中選擇 `confName`、`divName`、`fullName` 三個變數，並且使用 `LIMIT 10` 顯示前十列資料，參考下列預期的查詢結果。

預期輸出：(10, 3) 的查詢結果。

```sql
SELECT confName,
       divName,
       fullName
  FROM teams
 LIMIT 10;
```

### 03. 從 `nba` 資料庫的球員資料表 `players` 中選擇 `firstName`、`lastName` 兩個變數，並依序取別名為 `first_name`、`last_name`，使用 `LIMIT 5` 顯示前五列資料，參考下列預期的查詢結果。

預期輸出：(5, 2) 的查詢結果。

```sql
SELECT firstName AS first_name,
       lastName AS last_name
  FROM players
 LIMIT 5;
```

### 04. 從 `twElection2020` 資料庫的 `admin_regions` 資料表選擇「不重複」的縣市（`county`），參考下列的預期查詢結果。

預期輸出：(22, 1) 的查詢結果。

```sql
SELECT DISTINCT county AS distinct_counties
  FROM admin_regions;
```

### 05. 從 `nba` 資料庫的 `teams` 資料表選擇「不重複」的分組（`divName`），參考下列的預期查詢結果。

預期輸出：(6, 1) 的查詢結果。

```sql
SELECT DISTINCT divName AS distinct_divisions
  FROM teams;
```

## 練習題 06-08

### 06. 從 `covid19` 資料庫的 `daily_report` 資料表根據 `Confirmed`、`Deaths` 欄位以及下列公式衍生計算欄位 `Fatality_Ratio`，參考下列的預期查詢結果。

\begin{equation}
\text{Fatality_Ratio} = \frac{\text{Deaths}}{\text{Confirmed}}
\end{equation}

預期輸出：(4011, 3) 的查詢結果。

```sql
SELECT Confirmed,
       Deaths,
       Deaths*1.0 / Confirmed AS Fatality_Ratio
  FROM daily_report;
```

### 07. 從 `nba` 資料庫的 `players` 資料表依據 `heightMeters`、`weightKilograms` 欄位以及下列公式衍生計算欄位 `bmi`，參考下列的預期查詢結果。

\begin{equation}
BMI = \frac{weight_{kg}}{height_{m}^2}
\end{equation}

預期輸出：(506, 3) 的查詢結果。

```sql
SELECT heightMeters,
       weightKilograms,
       weightKilograms / (heightMeters*heightMeters) AS bmi
  FROM players;
```

### 08. 從 `nba` 資料庫的 `teams` 資料表連接 `confName`、`divName` 欄位後使用 `DISTINCT` 去除重複值，參考下列的預期查詢結果。

預期輸出：(6, 1) 的查詢結果。

```sql
SELECT DISTINCT confName || ', ' || divName AS conf_div
  FROM teams;
```

## 練習題 09-13

### 09. 從 `nba` 資料庫的 `players` 資料表依據 `heightMeters`、`weightKilograms` 以及下列公式衍生計算欄位 `bmi`，並使用 `ROUND` 函數將 `bmi` 的小數點位數調整為 2 位，參考下列的預期查詢結果。

\begin{equation}
BMI = \frac{weight_{kg}}{height_{m}^2}
\end{equation}

預期輸出：(506, 3) 的查詢結果。

```sql
SELECT heightMeters,
       weightKilograms,
       ROUND(weightKilograms / (heightMeters*heightMeters), 2) AS bmi
  FROM players;
```

### 10. 從 `nba` 資料庫的 `career_summaries` 資料表中依據 `assists`、`turnovers` 欄位以及下列公式衍生計算助攻失誤比，讓衍生計算欄位的資料類型為浮點數 `REAL`，參考下列的預期查詢結果。

\begin{equation}
\text{Assist Turnover Ratio} = \frac{\text{Assists}}{\text{Turnovers}}
\end{equation}

預期輸出：(506, 3) 的查詢結果。

```sql
SELECT assists,
       turnovers,
       CAST(assists AS REAL) / turnovers AS assist_turnover_ratio
  FROM career_summaries;
```

### 11. 從 `covid19` 資料庫的 `time_series` 資料表依據 `Date` 變數，使用 `STRFTIME` 函數查詢時間序列資料有哪些不重複的月份，參考下列的預期查詢結果。

預期輸出：(29, 1) 的查詢結果。

```sql
SELECT DISTINCT STRFTIME('%Y', Date) || '-' || STRFTIME('%m', Date) AS distinct_year_month
  FROM time_series;
```

### 12. 從 `twElection2020` 資料庫的 `presidential` 資料表利用聚合函數彙總有多少人參與了總統副總統的投票選舉，參考下列的預期查詢結果。

預期輸出：(1, 1) 的查詢結果。

```sql
SELECT SUM(votes) AS total_presidential_votes
  FROM presidential;
```

### 13. 從 `covid19` 資料庫的 `daily_report` 資料表利用聚合函數彙總截至 2022-05-31 全世界總確診數以及總死亡數，參考下列的預期查詢結果。

註：本題不需考慮 `daily_report` 內的 `Last_Update` 時間戳記，`daily_report` 的數據有效期間就是 2022-05-31。

預期輸出：(1, 2) 的查詢結果。

```sql
SELECT SUM(Confirmed) AS total_confirmed,
       SUM(Deaths) AS total_deaths
  FROM daily_report;
```

## 練習題 14-16

### 14. 從 `nba` 資料庫的 `career_summaries` 資料表中依據 `ppg`（Points per game，場均得分）找出場均得分最高的 10 名球員，參考下列的預期查詢結果。

預期輸出：(10, 2) 的查詢結果。

```sql
SELECT personId,
       ppg
  FROM career_summaries
 ORDER BY ppg DESC
 LIMIT 10;
```

### 15. 從 `covid19` 資料庫的 `time_series` 資料表中依據 `Daily_Cases` 找出前十個單日新增確診數最多的日期，參考下列的預期查詢結果。

預期輸出：(10, 3) 的查詢結果。

```sql
SELECT Date,
       Country_Region,
       Daily_Cases
  FROM time_series
 ORDER BY Daily_Cases DESC
 LIMIT 10;
```

### 16. 從 `nba` 資料庫的 `career_summaries` 資料表中依據 `assists`、`turnovers` 欄位以及下列公式衍生計算助攻失誤比，讓衍生計算欄位的資料類型為浮點數 REAL，找出助攻失誤比最高的前 10 名球員，參考下列的預期查詢結果。

\begin{equation}
\text{Assists Turnover Ratio} = \frac{\text{Assists}}{\text{Turnovers}}
\end{equation}

預期輸出：(10, 3) 的查詢結果。

```sql
SELECT personId,
       assists,
       turnovers
  FROM career_summaries
 ORDER BY CAST(assists AS REAL) / turnovers DESC
 LIMIT 10;
```

## 練習題 17-21

### 17. 從 `covid19` 資料庫的 `time_series` 資料表將台灣的觀測值篩選出來，參考下列的預期查詢結果。

預期輸出：(861, 4) 的查詢結果。

```sql
SELECT Country_Region,
       Date,
       Confirmed,
       Daily_Cases
  FROM time_series
 WHERE Country_Region = 'Taiwan';
```

### 18. 從 `imdb` 資料庫的 `movies` 資料表將上映年份為 1994 的電影篩選出來，參考下列的預期查詢結果。

預期輸出：(5, 4) 的查詢結果。

```sql
SELECT title,
       rating,
       director,
       runtime
  FROM movies
 WHERE release_year = 1994;
```

### 19. 從 `imdb` 資料庫的 `actors` 資料表將 Tom Hanks、Christian Bale、Leonardo DiCaprio 篩選出來，參考下列的預期查詢結果。

註：Tom Hanks 是一位著名的美國男演員及電視製片人，以演技精湛而著稱。他是歷史上第2位連續兩屆獲得奧斯卡金像獎最佳男主角獎的演員，亦是最年輕獲得美國電影學會終身成就獎的演員。Christian Bale 是一名英國男演員和電影製片人，在蝙蝠俠三部曲中飾演 Bruce Wayne 獲得了廣泛讚揚及商業認可。Leonardo DiCaprio 是一位美國著名男演員、電影製片人兼環保概念的推動者，出演了由史詩愛情片鐵達尼號知名度大開。

來源: Wikipedia

預期輸出：(3, 2) 的查詢結果。

```sql
SELECT *
  FROM actors
 WHERE name IN ('Tom Hanks', 'Christian Bale', 'Leonardo DiCaprio');
```

### 20. 從 `imdb` 資料庫的 `movies` 資料表篩選出由 Christopher Nolan 或 Peter Jackson 所導演的電影，參考下列的預期查詢結果。

註：Christopher Nolan 是一名英國導演、編劇及監製，他的十部電影在全球獲得超過 47 億美元的票房，執導著名電影包含「黑暗騎士三部曲」、全面啟動、星際效應及敦克爾克大行動；Peter Jackson 是一名紐西蘭導演、編劇及監製，執導最出名的作品是「魔戒電影三部曲」與「哈比人電影系列」。

來源: Wikipedia

預期輸出：(10, 2) 的查詢結果。

```sql
SELECT title,
       director
  FROM movies
 WHERE director IN ('Christopher Nolan', 'Peter Jackson')
 ORDER BY director;
```

### 21. 從 `covid19` 資料庫的 `lookup_table` 資料表篩選出 `Country_Region` 名稱有 land 的國家，參考下列的預期查詢結果。

預期輸出：(10, 1) 的查詢結果。

```sql
SELECT DISTINCT Country_Region
  FROM lookup_table
 WHERE Country_Region LIKE '%land%';
```

## 練習題 22-24

### 22. 從 `covid19` 資料庫的 `daily_report` 資料表將「美國」與「非美國」的觀測值用衍生計算欄位區分，美國的觀測值給予 `'Is US'`、非美國的觀測值給予 `'Not US'`，參考下列的預期查詢結果。

預期輸出：(4011, 2) 的查詢結果。

```sql
SELECT Combined_Key,
       CASE WHEN Combined_Key LIKE '%, US' THEN 'Is US'
            ELSE 'Not US' END AS is_us
  FROM daily_report;
```

### 23. 從 `imdb` 資料庫的 `movies` 資料表將評等超過 8.7（`>8.7`）的電影分類為 `'Awesome'`、將評等超過 8.4（`>8.4`）的電影分類為 `'Terrific'`，再將其餘的電影分類為 `'Great'`，參考下列的預期查詢結果。

預期輸出：(250, 3) 的查詢結果。

```sql
SELECT title,
       rating,
       CASE WHEN rating > 8.7 THEN 'Awesome'
            WHEN rating > 8.4 THEN 'Terrific'
            ELSE 'Great' END AS rating_category
  FROM movies;
```

### 24. 從 `twElection2020` 資料庫的 `admin_regions` 資料表將 `county` 分類為 `'六都'`與`'非六都'`，參考下列的預期查詢結果。

註：六都為臺北市、新北市、桃園市、臺中市、臺南市與高雄市。

預期輸出：(22, 2) 的查詢結果。

```sql
SELECT DISTINCT county,
       CASE WHEN county IN ('臺北市', '新北市', '桃園市', '臺中市', '臺南市', '高雄市') THEN '六都'
            ELSE '非六都' END AS county_type
  FROM admin_regions
 ORDER BY county_type,
          county;
```

## 練習題 25-29

### 25. 從 `imdb` 資料庫的 `movies` 資料表計算每一年有幾部在 IMDb.com 獲得高評等的經典電影，參考下列的預期查詢結果。

註：在 `movies` 資料表中的所有電影都是高評等的經典電影，讀者不需要定義或篩選「高評等」。

預期輸出：(86, 2) 的查詢結果。

```sql
SELECT release_year,
       COUNT(*) AS number_of_movies
  FROM movies
 GROUP BY release_year
 ORDER BY release_year;
```

### 26. 從 `imdb` 資料庫的 `movies` 資料表計算每一年有幾部在 IMDb.com 獲得高評等的經典電影，只顯示電影數在 5 部以上（`>= 5`）的年份，參考下列的預期查詢結果。

註：在 `movies` 資料表中的所有電影都是高評等的經典電影，讀者不需要定義或篩選「高評等」。

預期輸出：(17, 2) 的查詢結果。

```sql
SELECT release_year,
       COUNT(*) AS number_of_movies
  FROM movies
 GROUP BY release_year
HAVING number_of_movies >= 5
 ORDER BY release_year;
```

### 27. 從 `twElection2020` 資料庫的 `presidential` 資料表暸解台灣 2020 總統副總統的選舉結果，參考下列的預期查詢結果。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(3, 2) 的查詢結果。

```sql
SELECT candidate_id,
       SUM(votes) AS total_votes
  FROM presidential
 GROUP BY candidate_id;
```

### 28. 從 `nba` 資料庫的 `players` 資料表根據 `country` 暸解 NBA 由哪些國家的球員所組成，參考下列的預期查詢結果。

預期輸出：(42, 2) 的查詢結果。

```sql
SELECT country,
       COUNT(*) AS number_of_players
  FROM players
 GROUP BY country
 ORDER BY number_of_players DESC;
```

### 29. 從 `nba` 資料庫的 `players` 資料表根據 `country` 暸解 NBA 由哪些國家的球員所組成，只顯示球員數在 2 位以上（>= 2）並在 9 位以下（<=9）的國家，參考下列的預期查詢結果。

預期輸出：(24, 2) 的查詢結果。

```sql
SELECT country,
       COUNT(*) AS number_of_players
  FROM players
 GROUP BY country
HAVING number_of_players BETWEEN 2 and 9
 ORDER BY number_of_players DESC;
```

## 練習題 30-34

### 30. 從 `nba` 資料庫的 `players` 資料表運用子查詢找出 NBA 中身高最高與最矮的球員是誰，參考下列的預期查詢結果。

預期輸出：(3, 3) 的查詢結果。

```sql
SELECT firstName,
       lastName,
       heightMeters
  FROM players
 WHERE heightMeters = (SELECT MAX(heightMeters) FROM players) OR
       heightMeters = (SELECT MIN(heightMeters) FROM players);
```

### 31. 從 `nba` 資料庫的 `players` 資料表運用子查詢計算球員的國籍佔比，參考下列的預期查詢結果。

預期輸出：(42, 2) 的查詢結果。

```sql
SELECT country,
       CAST(COUNT(*) AS REAL) / (SELECT COUNT(*) 
                                   FROM players) AS player_percentage
  FROM players
 GROUP BY country
 ORDER BY player_percentage DESC,
          country;
```

### 32. 從 `nba` 資料庫運用子查詢找出 NBA 的場均得分王（`ppg`），參考下列的預期查詢結果。

預期輸出：(1, 2) 的查詢結果。

```sql
SELECT firstName,
       lastName
  FROM players
 WHERE personId = (SELECT personId
                     FROM career_summaries
                    WHERE ppg = (SELECT MAX(ppg)
                                   FROM career_summaries));
```

### 33. 從 `nba` 資料庫運用子查詢找出目前布魯克林籃網隊（Brooklyn Nets）的球員名單，參考下列的預期查詢結果。

預期輸出：(16, 2) 的查詢結果。

```sql
SELECT firstName,
       lastName
  FROM players
 WHERE teamId = (SELECT teamId
                   FROM teams
                  WHERE nickname = 'Nets');
```

### 34. 從 `twElection2020` 資料庫的 `presidential` 資料表計算各組候選人的得票率，參考下列的預期查詢結果。

預期輸出：(3, 2) 的查詢結果。

```sql
SELECT candidate_id,
       CAST(ROUND(CAST(SUM(votes) AS REAL) / (SELECT SUM(votes) FROM presidential), 4) * 100 AS TEXT) || '%' AS votes_percentage
  FROM presidential
 GROUP BY candidate_id;
```

## 練習題 35-39

### 35. 從 `covid19` 資料庫查詢截至 2022-05-31 全球前十大確診人數的國家，參考下列的預期查詢結果。

註：本題不需考慮 `daily_report` 內的 `Last_Update` 時間戳記，`daily_report` 的數據有效期間就是 2022-05-31。

預期輸出：(10, 2) 的查詢結果。

```sql
SELECT lookup_table.Country_Region,
       SUM(daily_report.Confirmed) AS total_confirmed
  FROM daily_report
  JOIN lookup_table
    ON daily_report.Combined_Key = lookup_table.Combined_Key
 GROUP BY lookup_table.Country_Region
 ORDER BY total_confirmed DESC
 LIMIT 10;
```

### 36. 從 `twElection2020` 資料庫查詢中國國民黨、民主進步黨與親民黨在不分區立委與區域立委的得票率，參考下列的預期查詢結果。

註：不分區立委的投票資料記錄於資料表 `legislative_at_large`，區域立委的投票資料記錄於資料表 `legislative_regional`。

預期輸出：(6, 3) 的查詢結果。

```sql
SELECT parties.party,
       '不分區立委' AS election,
       ROUND(CAST(SUM(legislative_at_large.votes) AS REAL) / (SELECT SUM(legislative_at_large.votes) FROM legislative_at_large), 4) AS votes_percentage
  FROM legislative_at_large
  JOIN parties
    ON legislative_at_large.party_id = parties.id
 WHERE parties.party IN ('中國國民黨', '民主進步黨', '親民黨')
 GROUP BY legislative_at_large.party_id
 UNION
SELECT parties.party,
       '區域立委' AS election,
       ROUND(CAST(SUM(legislative_regional.votes) AS REAL) / (SELECT SUM(legislative_regional.votes) FROM legislative_regional), 4) AS votes_percentage
  FROM legislative_regional
  JOIN candidates
    ON legislative_regional.candidate_id = candidates.id
  JOIN parties
    ON candidates.party_id = parties.id
 WHERE parties.party IN ('中國國民黨', '民主進步黨', '親民黨')
 GROUP BY parties.id
 ORDER BY election;
```

### 37. 從 `nba` 資料庫查詢洛杉磯湖人隊（Los Angeles Lakers）球員的生涯場均得分 `ppg`，參考下列的預期查詢結果。

預期輸出：(17, 3) 的查詢結果。

```sql
SELECT teams.fullName AS team_name,
       players.firstName || ' ' || players.lastName AS player_name,
       career_summaries.ppg
  FROM players
  JOIN teams
    ON players.teamId = teams.teamId
  JOIN career_summaries
    ON players.personId = career_summaries.personId
 WHERE teams.nickname = 'Lakers'
 ORDER BY career_summaries.ppg DESC;
```

### 38. 從 `nba` 資料庫查詢各個球隊的得分王（生涯場均得分 `ppg` 全隊最高）是誰，將查詢結果依隊伍名排序，參考下列的預期查詢結果。

預期輸出：(30, 3) 的查詢結果。

```sql
SELECT teams.fullName AS team,
       players.firstName || ' ' || players.lastName AS player,
       MAX(career_summaries.ppg) AS ppg
  FROM players
  JOIN teams
    ON players.teamId = teams.teamId
  JOIN career_summaries
    ON players.personId = career_summaries.personId
 GROUP BY teams.fullName
 ORDER BY teams.fullName;
```

### 39. 從 `imdb` 資料庫中查詢 Tom Hanks 與 Leonardo DiCaprio 在 IMDb.com 最高評價的 250 部電影中演出哪些電影，依據 `casting` 資料表中的 `ord` 衍生計算欄位 `is_lead_actor` 註記是否為第一主角（`ord` 若為 1 表示為第一主角），將查詢結果依 `release_year` 排序，參考下列的預期查詢結果。

預期輸出：(12, 4) 的查詢結果。

```sql
SELECT movies.release_year,
       movies.title,
       actors.name,
       casting.ord = 1 AS is_lead_actor
  FROM actors
  JOIN casting
    ON actors.id = casting.actor_id
  JOIN movies
    ON casting.movie_id = movies.id
 WHERE actors.name IN ('Tom Hanks', 'Leonardo DiCaprio')
 ORDER BY movies.release_year;
```

## 練習題 40-45

### 40. 從 `covid19` 資料庫建立一個檢視表名為 `total_confirmed_by_country_region` 記錄截至 2022-05-31 全球各國的確診人數，參考下列的預期輸出。

註：本題不需考慮 `daily_report` 內的 `Last_Update` 時間戳記，`daily_report` 的數據有效期間就是 2022-05-31。

預期輸出：(199, 2) 的檢視表 `total_confirmed_by_country_region`。

```sql
CREATE VIEW total_confirmed_by_country_region
    AS 
SELECT lookup_table.Country_Region,
       SUM(daily_report.Confirmed) AS total_confirmed
  FROM daily_report
  JOIN lookup_table
    ON daily_report.Combined_Key = lookup_table.Combined_Key
 GROUP BY lookup_table.Country_Region;
```

```sql
SELECT *
  FROM total_confirmed_by_country_region;
```

### 41. 從 `twElection2020` 資料庫建立一個檢視表名為 `presidential_total_votes` 記錄三組候選人的總得票數，參考下列的預期輸出。

預期輸出：(3, 3) 的檢視表 `presidential_total_votes`。

```sql
CREATE VIEW presidential_total_votes
    AS
SELECT candidates.number,
       candidates.candidate,
       SUM(presidential.votes) AS total_votes
  FROM presidential
  JOIN candidates
    ON presidential.candidate_id = candidates.id
 GROUP BY presidential.candidate_id;
```

```sql
SELECT * 
  FROM presidential_total_votes;
```

### 42. 從 `nba` 資料庫建立一個檢視表名為 `ppg_leader_by_teams`  紀錄各個球隊的得分王（生涯場均得分 `ppg` 全隊最高）是誰，參考下列的預期輸出。

預期輸出：(30, 4) 的檢視表 `ppg_leader_by_teams`。

```sql
CREATE VIEW ppg_leader_by_teams
AS
SELECT teams.fullName AS team,
       players.firstName,
       players.lastName,
       MAX(career_summaries.ppg)
  FROM players
  JOIN teams
    ON players.teamId = teams.teamId
  JOIN career_summaries
    ON players.personId = career_summaries.personId
 GROUP BY teams.fullName
 ORDER BY teams.fullName;
```

```sql
SELECT *
  FROM ppg_leader_by_teams;
```

### 43. 在 `nba` 資料庫新增一個資料表名為 `favorite_players`，具有三個欄位 `name`、`years_pro`、`ppg`，資料類型分別是文字（`TEXT`）、整數（`INTEGER`）與浮點數（`REAL`），參考下列的預期輸出。

預期輸出：(0, 3) 的資料表 `favorite_players`。

```sql
CREATE TABLE favorite_players (
    name TEXT,
    years_pro INTEGER,
    ppg REAL
);
```

```sql
SELECT *
  FROM favorite_players;
```

### 44. 承接上題，在 `nba` 資料庫的 `favorite_players` 資料表中新增五筆觀測值，參考下列的預期輸出。

預期輸出：(5, 3) 的資料表 `favorite_players`。

```sql
INSERT INTO favorite_players (name, years_pro, ppg)
VALUES 
       ('Steve Nash', 19, 14.3),
       ('Michael Jordan', 14, 30.1),
       ('Paul Pierce', 19, 19.7),
       ('Kevin Garnett', 21, 17.8),
       ('Hakeem Olajuwon', 18, 21.8);
```

```sql
SELECT * 
  FROM favorite_players;
```

### 45. 承接上題，在 `nba` 資料庫的 `favorite_players` 資料表將第五位球員 Hakeem Olajuwon 替換成 Tim Duncan，參考下列的預期輸出。

預期輸出：(5, 3) 的資料表 `favorite_players`。

```sql
UPDATE favorite_players
   SET name = 'Tim Duncan',
       years_pro = 19,
       ppg = 19.0
 WHERE name = 'Hakeem Olajuwon';
```

```sql
SELECT *
  FROM favorite_players;
```

## 練習題 46-59

### 46. 從 `covid19` 資料庫查詢兩艘郵輪（Grand Princess 與 Diamond Princess）的資訊，參考下列的預期查詢結果。

預期輸出：(4, 4) 的查詢結果。

```sql
SELECT lookup_table.iso2,
       lookup_table.Country_Region,
       lookup_table.Province_State,
       daily_report.Confirmed
  FROM daily_report
  JOIN lookup_table
    ON daily_report.Combined_Key = lookup_table.Combined_key
 WHERE Province_State IN ('Grand Princess', 'Diamond Princess');
```

### 47. 從 `covid19` 資料庫查詢截至 2022-05-31 所有國家確診與死亡人數的資訊，參考下列的預期查詢結果。

註：本題不需考慮 `daily_report` 內的 `Last_Update` 時間戳記，`daily_report` 的數據有效期間就是 2022-05-31。

預期輸出：(199, 3) 的查詢結果。

```sql
SELECT lookup_table.Country_Region,
       SUM(daily_report.Confirmed) AS Confirmed,
       SUM(daily_report.Deaths) AS Deaths
  FROM daily_report
  JOIN lookup_table
    ON daily_report.Combined_Key = lookup_table.Combined_key
 GROUP BY lookup_table.Country_Region;
```

### 48. 從 `imdb` 資料庫查詢「魔戒三部曲」與「蝙蝠俠三部曲」的電影資訊與演員名單，三部曲電影系列中演員重複出演的情況是正常的，這時顯示獨一值即可，參考下列的預期查詢結果。

預期輸出：(67, 2) 的查詢結果。

```sql
SELECT CASE WHEN movies.title LIKE '%Lord of the Rings%' THEN 'The Lord of the Rings Trilogy'
            ELSE 'Batman Trilogy' END AS trilogy,
       actors.name
  FROM actors
  JOIN casting
    ON actors.id = casting.actor_id
  JOIN movies
    ON casting.movie_id = movies.id
 WHERE movies.title LIKE '%Lord of the Rings%' OR
       movies.title LIKE '%Batman%' OR
       movies.title LIKE '%The Dark Knight%'
 GROUP BY trilogy, actors.name;
```

### 49. 從 `nba` 資料庫查詢得分王（生涯場均得分 `ppg` 最高）、助攻王（生涯場均助攻 `apg` 最高）、籃板王（生涯場均籃板 `rpg` 最高）、抄截王（生涯場均抄截 `spg` 最高）以及阻攻王（生涯場均阻攻 `bpg` 最高），參考下列的預期查詢結果。

預期輸出：(6, 4) 的查詢結果。

```sql
SELECT players.firstName,
       players.lastName,
       'ppg' AS category,
       max_stats.ppg AS value
  FROM players
  JOIN (SELECT personId,
               ppg
          FROM career_summaries
         WHERE ppg = (SELECT MAX(ppg)
                        FROM career_summaries)) AS max_stats
    ON players.personId = max_stats.personId
 UNION
SELECT players.firstName,
       players.lastName,
       'apg' AS category,
       max_stats.apg AS value
  FROM players
  JOIN (SELECT personId,
               apg
          FROM career_summaries
         WHERE apg = (SELECT MAX(apg)
                        FROM career_summaries)) AS max_stats
    ON players.personId = max_stats.personId
 UNION
SELECT players.firstName,
       players.lastName,
       'rpg' AS category,
       max_stats.rpg AS value
  FROM players
  JOIN (SELECT personId,
               rpg
          FROM career_summaries
         WHERE rpg = (SELECT MAX(rpg)
                        FROM career_summaries)) AS max_stats
    ON players.personId = max_stats.personId
 UNION
SELECT players.firstName,
       players.lastName,
       'spg' AS category,
       max_stats.spg AS value
  FROM players
  JOIN (SELECT personId,
               spg
          FROM career_summaries
         WHERE spg = (SELECT MAX(spg)
                        FROM career_summaries)) AS max_stats
    ON players.personId = max_stats.personId
 UNION
SELECT players.firstName,
       players.lastName,
       'bpg' AS category,
       max_stats.bpg AS value
  FROM players
  JOIN (SELECT personId,
               bpg
          FROM career_summaries
         WHERE bpg = (SELECT MAX(bpg)
                        FROM career_summaries)) AS max_stats
    ON players.personId = max_stats.personId;
```

### 50. 從 `twElection2020` 資料庫查詢三組總統候選人在各縣市的得票數，參考下列的預期查詢結果。

預期輸出：(22, 4) 的查詢結果。

```sql
SELECT soong_yu.county,
       soong_yu.soong_yu_votes,
       han_chang.han_chang_votes,
       tsai_lai.tsai_lai_votes
  FROM (SELECT admin_regions.county,
               SUM(votes) AS soong_yu_votes
          FROM presidential
          JOIN admin_regions
            ON presidential.admin_region_id = admin_regions.id
         WHERE presidential.candidate_id = 1
         GROUP BY admin_regions.county) AS soong_yu
  JOIN (SELECT admin_regions.county,
               SUM(votes) AS han_chang_votes
          FROM presidential
          JOIN admin_regions
            ON presidential.admin_region_id = admin_regions.id
         WHERE presidential.candidate_id = 2
         GROUP BY admin_regions.county) AS han_chang
    ON soong_yu.county = han_chang.county
  JOIN (SELECT admin_regions.county,
               SUM(votes) AS tsai_lai_votes
          FROM presidential
          JOIN admin_regions
            ON presidential.admin_region_id = admin_regions.id
         WHERE presidential.candidate_id = 3
         GROUP BY admin_regions.county) AS tsai_lai
    ON soong_yu.county = tsai_lai.county;
```

### 51. 從 `covid19` 資料庫查詢截至 2022-05-31 美國前十大確診人數的州別，參考下列的預期查詢結果。

註：本題不需考慮 `daily_report` 內的 `Last_Update` 時間戳記，`daily_report` 的數據有效期間就是 2022-05-31。

預期輸出：(10, 2) 的查詢結果。

```sql
SELECT lookup_table.Province_State,
       SUM(daily_report.Confirmed) AS Confirmed
  FROM daily_report
  JOIN lookup_table
    ON daily_report.Combined_Key = lookup_table.Combined_Key
 WHERE lookup_table.Country_Region = 'US'
 GROUP BY lookup_table.Province_State
 ORDER BY Confirmed DESC
 LIMIT 10;
```

### 52. 從 `covid19` 資料庫查詢截至 2022-05-31 台灣、日本、中國、南韓與新加坡五個國家的確診與死亡人數的資訊，參考下列的預期查詢結果。

註：本題不需考慮 `daily_report` 內的 `Last_Update` 時間戳記，`daily_report` 的數據有效期間就是 2022-05-31。

預期輸出：(5, 3) 的查詢結果。

```sql
SELECT lookup_table.Country_Region,
       SUM(daily_report.Confirmed) AS Confirmed,
       SUM(daily_report.Deaths) AS Deaths
  FROM daily_report
  JOIN lookup_table
    ON daily_report.Combined_Key = lookup_table.Combined_Key
 WHERE lookup_table.Country_Region IN ('Taiwan', 'China', 'Japan', 'Korea, South', 'Singapore')
 GROUP BY lookup_table.Country_Region;
```

### 53. 從 `imdb` 資料庫查詢出現最多次的導演為誰，參考下列的預期查詢結果。

預期輸出：(5, 2) 的查詢結果。

```sql
SELECT director,
       counts
  FROM (SELECT director,
               COUNT(*) AS counts
          FROM movies
         GROUP BY director) AS director_counts
 WHERE director_counts.counts = (SELECT MAX(counts) AS max_counts
                                   FROM (SELECT director,
                                                COUNT(*) AS counts
                                           FROM movies
                                          GROUP BY director) AS director_counts);
```

### 54. 從 `imdb` 資料庫查詢出現最多次的演員為誰，參考下列的預期查詢結果。

預期輸出：(1, 3) 的查詢結果。

```sql
SELECT actor_id,
       actors.name,
       counts
  FROM (SELECT actor_id,
               COUNT(*) AS counts
          FROM casting
         GROUP BY actor_id) AS actor_counts
  JOIN actors
    ON actor_counts.actor_id = actors.id
 WHERE actor_counts.counts = (SELECT MAX(counts) AS max_counts
                                FROM (SELECT actor_id,
                                             COUNT(*) AS counts
                                        FROM casting
                                       GROUP BY actor_id) AS actor_counts);
```

### 55. 從 `imdb` 資料庫查詢評等大於等於 8.8（`rating >= 8.8`）電影的導演以及第一主角（`ord = 1`），參考下列的預期查詢結果。

預期輸出：(14, 3) 的查詢結果。

```sql
SELECT movies.title,
       movies.director,
       actors.name AS lead_actor
  FROM movies
  JOIN casting
    ON movies.id = casting.movie_id
  JOIN actors
    ON casting.actor_id = actors.id
 WHERE movies.rating >= 8.8 AND
       casting.ord = 1;
```

### 56. 從 `nba` 資料庫查詢得分王（生涯總得分 `points` 最高）、助攻王（生涯總助攻 `assists` 最高）、籃板王（生涯總籃板 `totReb` 最高）、抄截王（生涯總抄截 `steals` 最高）以及阻攻王（生涯總阻攻 `blocks` 最高），參考下列的預期查詢結果。

預期輸出：(5, 4) 的查詢結果。

```sql
SELECT players.firstName,
       players.lastName,
       'points' AS category,
       max_stats.points AS value
  FROM players
  JOIN (SELECT personId,
               points
          FROM career_summaries
         WHERE points = (SELECT MAX(points)
                           FROM career_summaries)) AS max_stats
    ON players.personId = max_stats.personId
 UNION
SELECT players.firstName,
       players.lastName,
       'assists' AS category,
       max_stats.assists AS value
  FROM players
  JOIN (SELECT personId,
               assists
          FROM career_summaries
         WHERE assists = (SELECT MAX(assists)
                            FROM career_summaries)) AS max_stats
    ON players.personId = max_stats.personId
 UNION
SELECT players.firstName,
       players.lastName,
       'totReb' AS category,
       max_stats.totReb AS value
  FROM players
  JOIN (SELECT personId,
               totReb
          FROM career_summaries
         WHERE totReb = (SELECT MAX(totReb)
                           FROM career_summaries)) AS max_stats
    ON players.personId = max_stats.personId
 UNION
SELECT players.firstName,
       players.lastName,
       'steals' AS category,
       max_stats.steals AS value
  FROM players
  JOIN (SELECT personId,
               steals
          FROM career_summaries
         WHERE steals = (SELECT MAX(steals)
                           FROM career_summaries)) AS max_stats
    ON players.personId = max_stats.personId
 UNION
SELECT players.firstName,
       players.lastName,
       'blocks' AS category,
       max_stats.blocks AS value
  FROM players
  JOIN (SELECT personId,
               blocks
          FROM career_summaries
         WHERE blocks = (SELECT MAX(blocks)
                           FROM career_summaries)) AS max_stats
    ON players.personId = max_stats.personId;
```

### 57. 從 `nba` 資料庫查詢各球隊陣中場均得分大於等於 20 分（`ppg >= 20`）的球員人數，參考下列的預期查詢結果。

預期輸出：(30, 2) 的查詢結果。

```sql
SELECT teams.fullName AS team_name,
       IFNULL(number_of_top_scorers.number_of_players, 0) AS number_of_players
  FROM teams
  LEFT JOIN (SELECT teams.fullName,
                    COUNT(*) AS number_of_players
               FROM players
               JOIN teams
                 ON players.teamId = teams.teamId
               JOIN career_summaries
                 ON players.personId = career_summaries.personId
              WHERE ppg >= 20
              GROUP BY teams.fullName) AS number_of_top_scorers
    ON teams.fullName = number_of_top_scorers.fullName
 ORDER BY number_of_players DESC,
          team_name;
```

### 58. 從 `twElection2020` 資料庫查詢中國國民黨與民主進步黨在 2020 年選舉的得票率，包含總統副總統、不分區立委與區域立委，參考下列的預期查詢結果。

註：不分區立委的投票資料記錄於資料表 `legislative_at_large`，區域立委的投票資料記錄於資料表 `legislative_regional`。

預期輸出：(2, 4) 的查詢結果。

```sql
SELECT presidential_result.party,
       presidential_result.presidential,
       legislative_regional_result.legislative_regional,
       legislative_at_large_result.legislative_at_large
  FROM (SELECT CASE WHEN candidate_id = 2 THEN '中國國民黨'
                    ELSE '民主進步黨' END as party,
                    ROUND(CAST(SUM(votes) AS REAL) / (SELECT SUM(votes) FROM presidential)*100, 2) || '%' AS presidential
          FROM presidential
         WHERE candidate_id IN (2, 3)
         GROUP BY candidate_id) AS presidential_result
  JOIN (SELECT parties.party,
               ROUND(CAST(SUM(legislative_regional.votes) AS REAL) / (SELECT SUM(votes) FROM legislative_regional)*100, 2) || '%' AS legislative_regional
          FROM legislative_regional
          JOIN candidates
            ON legislative_regional.candidate_id = candidates.id
          JOIN parties
            ON candidates.party_id = parties.id
         WHERE parties.party IN ('中國國民黨', '民主進步黨')
         GROUP BY parties.party) AS legislative_regional_result
    ON presidential_result.party = legislative_regional_result.party
  JOIN (SELECT parties.party,
               ROUND(CAST(SUM(legislative_at_large.votes) AS REAL) / (SELECT SUM(votes) FROM legislative_at_large)*100, 2) || '%' AS legislative_at_large
          FROM legislative_at_large
          JOIN parties
            ON legislative_at_large.party_id = parties.id
         WHERE parties.party IN ('中國國民黨', '民主進步黨')
         GROUP BY parties.party) AS legislative_at_large_result
    ON presidential_result.party = legislative_at_large_result.party;
```

### 59. 從 `twElection2020` 資料庫查詢代表中國國民黨參選總統副總統的韓國瑜/張善政組合，在台灣 7,737 個選舉區（以村鄰里為一個選舉區）贏得的選舉區（得票數大於 `>` 蔡英文/賴清德組合）以及淨贏得票數，參考下列的預期查詢結果。

預期輸出：(1332, 4) 的查詢結果。

```sql
SELECT admin_regions.county,
       admin_regions.town,
       admin_regions.village,
       han_chang.han_chang_votes - tsai_lai.tsai_lai_votes AS net_winning_votes
  FROM (SELECT admin_regions.id,
               SUM(presidential.votes) AS han_chang_votes
          FROM presidential
          JOIN admin_regions
            ON presidential.admin_region_id = admin_regions.id
         WHERE presidential.candidate_id = 2
         GROUP BY admin_regions.id) AS han_chang
  JOIN (SELECT admin_regions.id,
               SUM(presidential.votes) AS tsai_lai_votes
          FROM presidential
          JOIN admin_regions
            ON presidential.admin_region_id = admin_regions.id
         WHERE presidential.candidate_id = 3
         GROUP BY admin_regions.id) AS tsai_lai
    ON han_chang.id = tsai_lai.id
  JOIN admin_regions
    ON han_chang.id = admin_regions.id
 WHERE net_winning_votes > 0
 ORDER BY net_winning_votes DESC,
          admin_regions.id;
```